body{
    color: silver;
    background :turquoise;
}
.heading{width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color: rgb(123, 53, 236);
}
#Camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result_object_name{
    color:rgb(33, 105, 240);
}
#result_object_accuracy {
    color: lightblue;
}